<ul class="nav nav-tabs nav-stacked backend_menu_lateral visible-desktop">
    <li class="{{ active == 0 ? 'active' : '' }}">
        <a href="{{ url(action="crear") }}">Agregar Nuevo</a>
    </li>
    {% for item in items %}
    <li class="{{ active == item.id ? 'active' : '' }}">
        <a href="{{ url(action="editar/" ~ item.id) }}">{{ attribute(item, column)|title }}<div style="clear: both"></div></a>
    </li>
    {% endfor %}
    <li>
        <a href="{{ url(action="") }}">Ver Todos...</a>
    </li>
</ul>