{% if page is not null %}
{% spaceless %}
{% set url = rtrim(url|default(url(parameters={})), '/') ~ '/' %}
{% set show = show|default(6) %}
{% set half = floor(show / 2) %}
{% if page.currentPage <= half %}
{% set start = 1 %}
{% elseif (page.pages - page.currentPage) < half %}
{% set start = abs(page.pages - show + 1) %}
{% else %}
{% set start = page.currentPage - half %}
{% endif %}
<div class="pagination">
    <ul>        
        {# pintado del PREV #}
        {% if page.previous %}
            <li><a href="{{ url ~ page.previous }}" >&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#" >&laquo;</a></li>
        {% endif %}
        {#  #}
        {% if start == 1 %}
            {% set start, show = 2 , show - 1 %}
            {% if 1==page.currentPage %}
                <li class="active"><a href="#" title="Página 1 de {{ page.pages }}">1</a></li>
            {% else %}
                <li><a href="{{ url ~ 1 }}" title="Página 1 de {{ page.pages }}">1</a></li>
            {% endif %}
        {% elseif start > 1 %}
            <li><a href="{{ url ~ 1 }}" title="Página 1 de {{ page.pages }}">1</a></li>
        {% endif %}
        {# si el for va a mostrar elementos por encima del segundo mostramos un ... #}                
        {% if start > 2 %}
            <li><a href="#">...</a></li>
        {% endif %}
        {# pintamos las páginas  #}
        {% set fin = start+show-1 %}
        {% set fin = fin > page.pages ? page.pages : fin %}
        {% for index in (start)..(fin) if index < page.pages %}
            {% if index==page.currentPage %}
                <li class="active"><a href="#" title="Página {{ index }} de {{ page.pages }}">{{ index }}</a></li>
            {% else %}
                <li><a href="{{ url ~ index }}" title="Página {{ index }} de {{ page.pages }}">{{ index }}</a></li>
            {% endif %}
        {% endfor %}
        {# si el for va a mostrar elementos por debajo del total de paginas mostramos un ... #}
        {% if page.pages > fin %}
            <li><a href="#">...</a></li>
            <li><a href="{{ url ~ page.pages }}">{{ page.pages }}</a></li>
        {% elseif page.pages==fin %}
            {% if fin==page.currentPage %}
                <li class="active"><a href="#">{{ fin }}</a></li>
            {% else %}
                <li><a href="{{ url ~ fin }}">{{ fin }}</a></li>
            {% endif %}
        {% endif %}
        {# pintamos el next #}
        {% if page.next %}
            <li class="prev"><a href="{{ url ~ page.next }}" >&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#" >&raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endspaceless %}
{% endif %}
