<ul class="nav nav-tabs nav-stacked backend_menu_lateral visible-desktop">
    <li class="{{ active == 0 ? 'active' : '' }}">
        <a href="{{ url(action="crear") }}">Agregar Nuevo</a>
    </li>
    {% for item in usuarios %}
    <li class="{{ active == item.id ? 'active' : '' }}">
        <a href="{{ url(action="action/" ~ item.id) }}">{{ item.login|upper }}<div style="clear: both"></div></a>
    </li>
    {% endfor %}
    {% if usuarios|length > 8 %}
    <li>
        <a href="{{ url(action="") }}">Ver Todos...</a>
    </li>
    {% endif %}
</ul>