{% extends "@K2Backend/default.twig" %}

{% block lateral render('@K2Backend/usuarios/menu_lateral') %}

{% block page_header 'Configuraci칩n de Perfil' %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#datos-personales" data-toggle="tab">Datos Personales</a></li>
    <li><a href="#clave" data-toggle="tab">Contrase&ntilde;a</a></li>
</ul>
<div class="tab-content">
    <div id="datos-personales" class="tab-pane active">
        <form method="post" action="{{ url() }}" class="form-horizontal js-remote" data-div="res-datos-personales">
        <fieldset>
            <legend>Configurar Datos Personales</legend>
            <br/>
            <div id="res-datos-personales"></div>
            <div class="control-group">
                {{ form_label('perfil.nombres','Nombre Completo* :',{class:'control-label'}) }}
                <div class="controls">
                    {{ form_input('perfil.nombres', attrs={required:true}) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_label('perfil.email','Correo Electronico* :',{class:'control-label'}) }}
                <div class="controls">
                    {{ form_input('perfil.email', 'email', attrs={required:true}) }}
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Guardar Datos">
                <a class="btn" href="{{ url(action='') }}">Cancelar</a>
            </div>
        </fieldset>
        </form>
    </div>
    <div id="clave" class="tab-pane">
        <form method="post" action="{{ url() }}" class="form-horizontal js-remote" data-div="res-clave">
        <fieldset>
            <legend>Cambiar Contrase&ntilde;a</legend>
            <br/>
            <div id="res-clave"></div>
            <div class="control-group">
                {{ form_label('clave.clave_actual','Contrase침a Actual* :',{class:'control-label'}) }}
                <div class="controls">
                    {{ form_input('clave.clave_actual', 'password', attrs={required:true}) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_label('clave.nueva_clave','Contrase침a* :',{class:'control-label'}) }}
                <div class="controls">
                    {{ form_input('clave.nueva_clave', 'password', attrs={required:true}) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_label('clave.clave2','Volver a escribir Contrase침a* :',{class:'control-label'}) }}
                <div class="controls">
                    {{ form_input('clave.clave2', 'password', attrs={required:true}) }}
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Guardar Datos">
                <a class="btn" href="{{ url(action='') }}">Cancelar</a>
            </div>
        </fieldset>
        </form>
    </div>
</div>
{% endblock %}