{% extends "@K2Backend/base_crud.twig" %}

{% block lateral render('@K2Backend/menu/menu_lateral',[menu.id|default]) %}

{% block page_header titulo|default('Crear Menú') %}

{% block row %}
<div id="res-form-ajax"></div>
<form class="form-horizontal js-remote" method="post" action="{{ url() }}" data-div="res-form-ajax">
    <div class="control-group">
        {{ form_label('menu.menus_id','Menú Padre :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_select('menu.menus_id', form_options(menus, 'nombre')) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label('menu.nombre','Texto a Mostrar* :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_input('menu.nombre', attrs={required:true}) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label('menu.url','URL del Menú* :',{class:'control-label'}) }}
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">{{ constant('PUBLIC_PATH') }}</span>
                {{ form_input('menu.url', attrs={required:true}) }}
            </div>
        </div>
    </div>
    <div class="control-group">
        {{ form_label('menu.posicion','Relevancia del Elemento* :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_input('menu.posicion', 'number', {required:true}, 100) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label('menu.clases','Clases CSS para el Item :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_input('menu.clases') }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label('menu.visible_en','Visible en* :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_select('menu.visible_en', visibilidad, attrs={required:true}) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label('menu.activo','Activo (Visible)* :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_select('menu.activo', {1:'Si',0:'No'}, attrs={required:true}) }}
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Guardar Datos" />
        <a class="btn" href="{{ url(action="") }}">Cancelar</a>
    </div>
</form>
{% endblock %}