{% extends "@K2Backend/default.twig" %}

{% import '@K2Backend/macros.twig' as macros %}

{% block page_header 'Menus del Sistema' %}

{% block content %}
{% include '@K2Backend/_partials/barra_crud.twig' with {'texto':'Crear Menú'} %}
<form method="post" action="{{ url(action="eliminar") }}" class="form_lista">
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ form_check('seleccionar_todos', 'todos') }}</th>
            <th>Id</th>
            <th>Texto a Mostrar</th>
            <th>Menú Padre</th>
            <th>Ruta</th>
            <th>Posición</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tfoot>
        <tr><td colspan="6">{{ macros.paginator(menus) }}</td></tr>
    </tfoot>
    <tbody>
        {% for item in menus %}
            <tr>
                <td>{{ form_check('menu_id.' ~ item.id, item.id) }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.padre }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.posicion }}</td>
                <td>{{ macros.imgLink(['@K2Backend/img/figuras/circulo_verde.png',
                                       '@K2Backend/img/figuras/circulo_rojo.png'],
                       [url(action='desactivar/' ~ item.id),url(action='activar/' ~ item.id)],
                       null, item.activo == 1) }}</td>
                <td>{{ macros.imgLink('@K2Backend/img/figuras/editar.png', url(action='editar/' ~ item.id)) }}</td>
                <td>{{ macros.imgLinkConfirm('@K2Backend/img/figuras/eliminar.png', url(action='eliminar/' ~ item.id)) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endblock content %}
