{% extends "@K2Backend/base_crud.twig" %}

{% block lateral render('@K2Backend/roles/menu_lateral',[rol.id|default]) %}

{% block page_header titulo|default('Crear Rol (Perfil)') %}

{% block row %}
<div id="res-form-ajax"></div>
<form class="form-horizontal js-remote" method="post" action="{{ url() }}" data-div="res-form-ajax">
    <div class="control-group">
        {{ form_label('rol.rol','Nombre del Rol* :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_input('rol.rol', attrs={required:true}) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label('rol.plantilla','Plantilla a usar :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_input('rol.plantilla') }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label('rol.activo','Activo (Visible)* :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_select('rol.activo', {1:'Si',0:'No'}, attrs={required:true}) }}
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Guardar Datos" />
        <a class="btn" href="{{ url(action="") }}">Cancelar</a>
    </div>
</form>
{% endblock %}
