{% extends "@K2Backend/default.twig" %}

{% import '@K2Backend/macros.twig' as macros %}

{% block page_header 'Roles (Perfiles) del Sistema' %}

{% block content %}
{% include '@K2Backend/_partials/barra_crud.twig' with {'texto':'Crear Rol'} %}
<form method="post" action="{{ url(action="eliminar") }}" class="form_lista">
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ form_check('seleccionar_todos', 'todos') }}</th>
            <th>Id</th>
            <th>Rol</th>
            <th>Plantilla a usar</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for item in roles.items %}
            <tr>
                <td>{{ form_check('roles_id.' ~ item.id, item.id) }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.rol }}</td>
                <td>{{ item.plantilla }}</td>
                <td>{{ macros.imgLink(['@K2Backend/img/figuras/circulo_verde.png',
                                       '@K2Backend/img/figuras/circulo_rojo.png'],
                       [url(action='desactivar/' ~ item.id),url(action='activar/' ~ item.id)],
                       null, item.activo == 1) }}</td>
                <td>{{ macros.imgLink('@K2Backend/img/figuras/editar.png', url(action='editar/' ~ item.id)) }}</td>
                <td>{{ macros.imgLinkConfirm('@K2Backend/img/figuras/eliminar.png', url(action='eliminar/' ~ item.id)) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endblock content %}
