{% extends "@K2Backend/base_crud.twig" %}

{% block lateral render('@K2Backend/recursos/menu_lateral',[recurso.id|default]) %}

{% block page_header titulo|default('Crear Recurso') %}

{% block row %}
<div id="res-form-ajax"></div>
<form class="form-horizontal js-remote" method="post" action="{{ url() }}" data-div="res-form-ajax">
    <div class="control-group">
        {{ form_label('recurso.recurso','Ruta :',{class:'control-label'}) }}
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">{{ constant('PUBLIC_PATH') }}</span>
                {{ form_text('recurso.recurso', {required:true}) }}
            </div>
        </div>
    </div>
    <div class="control-group">
        {{ form_label('recurso.descripcion','Descripción :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_textarea('recurso.descripcion') }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label('recurso.activo','Activo (Visible)* :',{class:'control-label'}) }}
        <div class="controls">
            {{ form_select('recurso.activo', {1:'Si',0:'No'}, attrs={required:true}) }}
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Guardar Datos" />
        <a class="btn" href="{{ url(action="") }}">Cancelar</a>
    </div>
</form>
{% endblock %}
