{% extends "@K2Backend/base_crud.twig" %}

{% block page_header %}
<h2>Privilegios del Rol (Perfil): <small> {{ rol.rol|title }}</small></h2>
{% endblock %}

{% block lateral render('@K2Backend/privilegios/menu_lateral',[rol.id|default]) %}

{% block row %}
<div id="res-form-ajax"></div>
<form method="post" action="{{ url() }}">
<div class="well" style="padding: 8px;border-radius: 2px;">  
    <input type="submit" class="btn btn-primary" value="Guardar Cambios" />
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ruta</th>
            <th>Descripción</th>
            <th>Permitir Acceso</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3"><!-- Paginador --></td>
        </tr>
    </tfoot>
    <tbody>
        {% for item in recursos %}
        <tr>
            <td>{{ item.recurso }}</td>
            <td>{{ item.descripcion }}</td>
            <td class="span2">
                {{ form_check('recursos.'~item.recursos_id, item.recursos_id, check=item.roles_id==rol.id) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>            
{% endblock %}