<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset='{{ _charset }}' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ app['parameters']['name']|default('K2') }} - Backend</title>
        {% block css %}
        <link rel="stylesheet" href="{{ asset('@K2Backend/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('@K2Backend/css/backend/estilos.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% include '@K2Backend/_partials/cabecera_admin.twig' %}
        <div class="container">
            <div id="contenido" class="content">
                <div class="page-header">
                    <h1>{% block page_header '' %}</h1>
                </div>
                {% block flashes %}{% include '@K2Backend/_partials/flashes.twig' %}{% endblock %}
                {% block content %}
                {% endblock content %}
            </div>
            {% include '@K2Backend/_partials/pie.twig' %}
        </div>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.kumbiaphp.js') }}"></script>
        <script type="text/javascript" src="{{ asset('@K2Backend/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('@K2Backend/js/global.js') }}"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
