{% macro imgLink(img, url, text = '', condition = null) %}
{% if condition is not null %}
{% set index = condition ? 0 : 1 %}
<a href="{{ url[index] }}" >
<img src="{{ asset(img[index]) }}" alt="{{ text[index]|default(asset(img[index])) }}" />{{ text[index]|default }}
{% else %}
<a href="{{ url }}" >
<img src="{{ asset(img) }}" alt="{{ text|default(asset(img)) }}" />{{ text }}
{% endif %}
</a>
{% endmacro %}

{% macro imgLinkConfirm(img, url, text = '', confirm = '¿Realmente desea Eliminar Este Registro?') %}
<a href="{{ url }}" title="{{ confirm }}" class="js-confirm" >
<img src="{{ asset(img) }}" alt="{{ text|default(asset(img)) }}" />{{ text }}
</a>
{% endmacro %}
